<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <!--<li class="nav-item">
      <a class="nav-link waves-effect waves-dark" href="/dashboard"> Starter </a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-effect waves-dark" href="/about"> About </a>
    </li>-->
    <!-- ============================================================== -->
    <!-- create new -->
    <!-- ============================================================== -->
    <!--<li class="nav-item" ngbDropdown>
      <a
        ngbDropdownToggle
        class="nav-link waves-effect waves-dark"
        href="javascript:void(0)"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="d-none d-md-block"> Create New</span>
        <span class="d-block d-md-none"><i class="bi bi-file-earmark-plus fs-4"></i></span>

      </a>
      <div class="dropdown-menu-start" ngbDropdownMenu>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>-->
  </ul>

  <!-- ============================================================== -->
  <!-- Right side toggle and nav items -->
  <!-- ============================================================== -->
  <ul class="navbar-nav ml-auto">
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
    <li class="nav-item" ngbDropdown placement="bottom-end">
      <app-top-right-user></app-top-right-user>
    </li>
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
  </ul>
</nav>
