
<!-- title -->
<script src="../../../../../../AWI-back/modules/dao/ingredients.js"></script>
<div class="table-responsive">
    <table datatable class="table align-middle" *ngIf="ingredients.length > 0; else noIngredients">
      <thead>
      <tr>
        <th class="text-dark font-medium fs-4">#</th>
        <th class="text-dark font-medium fs-4">Nom</th>
        <th class="text-dark font-medium fs-4">Prix</th>
        <th class="text-dark font-medium fs-4">Unité</th>
        <th class="text-dark font-medium fs-4">Catégorie</th>
        <th class="text-dark font-medium fs-4">Allergènes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let ingredient of ingredients'>
        <td>
          <p class="mb-0 fw-normal">{{ingredient.ingredient_id}}</p>
        </td>
        <td>
          <p class="mb-0 fw-normal">{{ingredient.name}}</p>
        </td>
        <td>
            <p class="mb-0 fw-normal">{{ingredient.price}}</p>
        </td>
        <td>
            <p class="mb-0 fw-normal">{{ingredient.unit.name}}</p>
        </td>
        <td>
            <p class="mb-0 fw-normal">{{ingredient.category.name}}</p>
        </td>
        <td>
            <p class="mb-0 fw-normal" *ngIf="ingredient.allergenes.length > 0">
                <span *ngFor="let al of ingredient.allergenes" class="badge badge-info m-1">
                  {{al.name}}
                </span>
            </p>
          <p class="mb-0 fw-normal" *ngIf="ingredient.allergenes.length == 0">
            Aucun
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noIngredients>
    <div class="w-100 text-center">Il n'y a pas d'ingredient</div>
  </ng-template>
