<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- title -->
        <div class="row">
          <div class="col">
            <h4 class="card-title">Allergènes</h4>
          </div>
          <div class="col">
            <div class="text-right">
              <div class="btn btn-sm btn-success" (click)="addAllergene(addAllergeneForm)">Ajouter</div>
              <app-allergenes-create-form #addAllergeneForm></app-allergenes-create-form>
            </div>
          </div>
        </div>

        <h5 class="card-subtitle">Liste de tous les allergènes</h5>

        <!-- title -->
        <app-allergenes-table [allergenes]="getAllergenes()"></app-allergenes-table>
        <app-allergenes-edit-form *ngIf="getAllergenes().length > 0" [allergene]="getAllergenes()[0]"></app-allergenes-edit-form>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <!-- title -->
        <div class="row">
          <div class="col">
            <h4 class="card-title">Recettes</h4>
          </div>
          <div class="col">
            <div class="text-right">
              <div class="btn btn-sm btn-success">Ajouter</div>
            </div>
          </div>
        </div>
        <h5 class="card-subtitle">Liste de toutes les recettes</h5>

        <!-- title -->
        <app-recipes-table [recipes]="getRecipes()"></app-recipes-table>
        <app-allergenes-edit-form *ngIf="getAllergenes().length > 0" [allergene]="getAllergenes()[0]"></app-allergenes-edit-form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- title -->
        <div class="row">
          <div class="col">
            <h4 class="card-title">Ingrédients</h4>
            </div>
            <div class="col">
              <div class="text-right">
                <div class="btn btn-sm btn-success" (click)="addIngredient(addIngredientForm)">Ajouter</div>
                <app-ingredients-create-form #addIngredientForm></app-ingredients-create-form>
              </div>
            </div>
          </div>
        <h5 class="card-subtitle">Liste de tous les ingredients</h5>

        <!-- title -->
        <app-ingredients-table [ingredients]="getIngredients()"></app-ingredients-table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Catégories d'ingrédients</h4>
        <h5 class="card-subtitle">Liste de toutes les catégories d'ingredients</h5>

        <!-- title -->
        <app-ingredients-category-table [ingredientscategory]="getIngredientsCategory()"></app-ingredients-category-table>
        <app-ingredients-edit-form *ngIf="getIngredients().length > 0" [ingredient]="getIngredients()[0]"></app-ingredients-edit-form>

      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->

<!--<app-top-cards></app-top-cards>-->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!--<div class="row">
  <div class="col-lg-7">
    <app-sales-summary></app-sales-summary>
  </div>
  <div class="col-lg-5">
    <app-feeds></app-feeds>
  </div>
</div>-->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<!--<app-blog-cards></app-blog-cards>-->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
