<app-top-cards></app-top-cards>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-7">
    <app-sales-summary></app-sales-summary>
  </div>
  <div class="col-lg-5">
    <app-feeds></app-feeds>
  </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Allergènes</h4>
        <h5 class="card-subtitle">Liste de tous les allergènes</h5>

        <!-- title -->
        <app-allergenes-table [allergenes]="getAllergenes()"></app-allergenes-table>
        <app-allergenes-edit-form *ngIf="getAllergenes().length > 0" [allergene]="getAllergenes()[0]"></app-allergenes-edit-form>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Ingrédients</h4>
        <h5 class="card-subtitle">Liste de tous les ingredients</h5>

        <!-- title -->
        <app-ingredients-table [ingredients]="getIngredients()"></app-ingredients-table>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Catégories d'ingrédients</h4>
        <h5 class="card-subtitle">Liste de toutes les catégories d'ingredients</h5>

        <!-- title -->
        <app-ingredients-category-table [ingredientscategory]="getIngredientsCategory()"></app-ingredients-category-table>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<app-blog-cards></app-blog-cards>
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
