/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-toastr/toastr.css";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.min.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import '~ngx-toastr/toastr.css';
@import '~sweetalert2/dist/sweetalert2.min.css';

body {
  font-family: "Nunito Sans", sans-serif;
}

.paginate_button {
  padding: 0px !important;
  border: 0px !important;
  margin: 0px !important;
}

.logo-wrap {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

div.logo-wrap > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}
