<!-- title -->
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table align-middle" *ngIf="users.length > 0; else noUsers">
    <thead>
    <tr>
      <th class="text-dark font-medium fs-4">#</th>
      <th class="text-dark font-medium fs-4">Nom</th>
      <th class="text-dark font-medium fs-4">Email</th>
      <th class="text-dark font-medium fs-4">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let user of users'>
      <td>
        <p class="mb-0 fw-normal">{{user.user_id}}</p>
      </td>
      <td>
        <p class="mb-0 fw-normal">{{user.username}}</p>
      </td>
      <td>
        <p class="mb-0 fw-normal">{{user.email}}</p>
      </td>
      <td>
        <div class="btn-group" role="group">
          <div class="btn btn-sm btn-info" (click)="editFormClicked(user)">Modifier</div>
          <div *ngIf="user.blocked" class="btn btn-sm btn-info" (click)="unblockClicked(user)">Débloquer</div>
          <div *ngIf="!user.blocked" class="btn btn-sm btn-info" (click)="blockClicked(user)">Bloquer</div>
          <div class="btn btn-sm btn-danger" (click)="deleteClicked(user)">Supprimer</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noUsers>
  <div class="w-100 text-center">Il n'y a pas d'utilisateurs</div>
</ng-template>
