<!-- title -->
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table align-middle" *ngIf="allergenes.length > 0; else noAllergenes">
    <thead>
      <tr>
        <th class="text-dark font-medium fs-4">#</th>
        <th class="text-dark font-medium fs-4">Nom</th>
        <th class="text-dark font-medium fs-4">Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor='let allergene of allergenes'>
      <td>
        <p class="mb-0 fw-normal">{{allergene.allergene_id}}</p>
      </td>
      <td>
        <p class="mb-0 fw-normal">{{allergene.name}}</p>
      </td>
      <td>
        <div class="btn-group" role="group">
          <div class="btn btn-sm btn-info" (click)="editFormClicked(component)">Modifier</div>
          <div class="btn btn-sm btn-danger" (click)="deleteClicked(allergene)">Supprimer</div>
        </div>
        <app-allergenes-edit-form [allergene]="allergene" #component></app-allergenes-edit-form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noAllergenes>
  <div class="w-100 text-center">Il n'y a pas d'allergène</div>
</ng-template>
